*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

body{
    font-family: 'open sans';

}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #2980B9;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-family: calibri;
}

header{
    width: 100%;
    height: 600px;
    background: #2980B9;  
    background: -webkit-linear-gradient(to right, #FFFFFF, hsla(196, 80%, 67%, 0.671), hsl(204, 64%, 44%)), url(../img/2comercial.jpg);
    background: linear-gradient(to right, #FFFFFF, hsla(196, 80%, 67%, 0.671), hsl(204, 64%, 44%)), url(../img/2comercial.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-nosotros{
display: flex;
justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    color: #fff;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;
}
.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;

}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;  
}